@import "../../variables.scss";

.root {
  position: relative;
}

.slide {
  height: 100vh;
  position: relative;
}

.contentButton {
  background: #d2d200;
  border-color: #d2d200;
  color: black;
  margin-top: 20px;
}

.slideContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80%;
  padding-left: calc($sidebarWidth + 90px);
}

.slideTitle {
  font-size: 45px;
}

.slideInfo {
  width: 33%;
  color: white;
  font-weight: 500;
}

.slideBackground {
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.controls {
  position: absolute;
  bottom: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.controlsButtons {
  padding-left: calc($sidebarWidth + 50px);
  display: flex;
  align-items: center;
  flex: 1;

  &::after {
    content: '';
    background-color: white;
    opacity: .5;
    margin-left: 10px;
    height: 2px;
    width: 100%;
  }
}

.controlsPlaceholder {
  flex-shrink: 0;
}

.arrowButton {
  margin-right: 10px;
}

.controlsArrow {
  color: black;
}

.controlsIndicator {
  display: flex;
  align-items: center;
  padding-left: 30px;


  &::after {
    content: '';
    background-color: white;
    opacity: .5;
    width: 60px;
    height: 2px;
    margin-left: 30px;
    margin-right: 30px;
  }
}