@import "../../variables.scss";

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: antiquewhite;
  padding: 0 100px 0 50px;
  height: $headerHeight;
}

.smallContainer {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
