@import "../../variables.scss";

.navigation {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  row-gap: 25px;
  width: $sidebarWidth;
  max-width: $sidebarWidth;
  height: calc(100vh - $headerHeight);
  position: relative;

  &:after {
    content: '';
    background-color: black;
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: .3;
  }
}

.link {
  color: white;
  opacity: 0.5;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  padding-left: 40px;
  position: relative;
}

.linkActive {
  @extend .link;
  opacity: 1;
  display: flex;
  align-items: center;

  &:after {
    content: '';
    background-color: white;
    position: absolute;
    right: 0;
    height: 2px;
    width: 20%;
  }
}