@import "../../variables.scss";

footer {
  display: flex;
  justify-content: space-between;
  padding: 40px $contentRightPad 40px 40px;
  background-color: $yellowMainColor;
}

.container {
  display: flex;
  gap: 20px;
}