$headerHeight: 90px;
$sidebarWidth: 250px;
$contentRightPad: 100px;
$slideContentLeftPadding: calc($sidebarWidth + 90px);
$mainBackgroundColor: #10283a;
$yellowMainColor: #d2d200;
$mainTextColor: white;
$titleFontSize: 45px;