@import "../../variables.scss";

$gridCellSize: 300px;

.root {
  display: flex;
  color: white;
  column-gap: 100px;
  position: relative;
}

.leftContainer {
  display: flex;
  flex-direction: column;
  text-align: right;
  width: $sidebarWidth;
  flex-shrink: 0;
  margin-top: 50px;

  h2 {
    margin-top: 0;
  }
}

.leftContainerText {
  padding-left: 80px;
}

.rightContainer {
  width: calc(100vw - $sidebarWidth - $contentRightPad * 2);
}

.buttonsContainer {
  display: flex;
  align-items: center;
  flex: 1;

  &::after {
    content: '';
    background-color: white;
    opacity: .5;
    margin-left: 10px;
    height: 2px;
    width: 100%;
  }
}

.arrowButton {
  margin-right: 10px;
}

.sliderIndicators {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.controlsIndicator {
  padding-left: 20px;
  color: $mainTextColor;
  font-weight: bold;
}

.gridSlide {
  display: grid;
  grid-template-columns: repeat(3, $gridCellSize);
  grid-template-rows: repeat(3, $gridCellSize);
  grid-gap: 50px;
  justify-content: center;
}

.gritSlideImage {
  background-size: cover;
  background-repeat: no-repeat;
}

.gridSlideImage1 {
  @extend .gritSlideImage;
  
  grid-area: 1 / 1 / 3 / 3;
  background-color: wheat;
}
.gridSlideImage2 {
  @extend .gritSlideImage;

  grid-area: 1 / 3 / 2 / 4;
  background-color: blue;
}
.gridSlideImage3 {
  @extend .gritSlideImage;

  grid-area: 2 / 3 / 3 / 4;
  background-color: gray;
}
.gridSlideImage4 {
  @extend .gritSlideImage;

  grid-area: 3 / 1 / 4 / 2;
  background-color: yellow;
}
.gridSlideImage5 {
  @extend .gritSlideImage;
  
  grid-area: 3 / 2 / 4 / 4;
  background-color: firebrick;
}

